img {
  width: 100%;
}

.logo {
  height: 1.5rem;
  width: 1.5rem;
  opacity: 0.4;
}

.jumbotron {
  background-image: linear-gradient(rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.5)), url("../media/hero.jpg");
  //background-image: url("../media/hero.jpg");
  background-size: cover;
  background-position: center;
}

li {
  margin: auto 0;
}

.lead {
  font-weight: normal;
}

.card-img-top {
  height: 35vh;
  object-fit: cover;
  object-position: center;
}

.card-footer {
  background-color: white;
}
